body {
    margin:0;
    padding: 0;
}


.content {
    display: flex;
    flex-direction: column;
} 

.section {
    /* display: flex; */
    height: 60vh;
    padding: 48px;
}

.one {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    justify-content: space-between;
   
    
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    font-size: 24px;
}

.links {
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleImg {
    height: 250px;
    width: 450px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
}

.titleText {
    height: 200px;
    width: 450px;
    padding: 0;
    margin: 0;
    /* display: flex;
    flex-direction: column; */
    
}

 button {
    align-self: flex-start;
    background-color: #3882F6;
    color: #F9FAF8;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: none;
    
}

.title-head {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
    
}

.title-text {
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #E5E7EB; 
}
.logo a {
    color: #F9FAF8;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.sectionHeader {
    font-size: 36px;
    font-weight:bolder;
    color: #1F2937;
    margin: 0;
}

.sectionCards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 75px;
    
}

.cardBox {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card p{
    margin: 0;
    text-align: center;
}

.three {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0 75px;
    height: 100vh;
    
}

.three p {
    margin: 50px;
    font-size: 32px;
}


.author {
    align-self: flex-end;
    padding: 0;
    margin: 0;
    font-weight: bold ;
}

.four {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    /* padding: 0 75px; */
}

.container {
    background-color: #3882F6;
    padding: 15px 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 1000px;
}
p strong {
    display: block;
}

.container button {
    align-self: center;
    border: #E5E7EB solid 2px;
   
}

.container p {
    color: #F9FAF8;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
}

.footer p {
    color: #F9FAF8;
}